name: "Checkout Example"

on: workflow_dispatch

jobs:
  builds:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4.3.1
      - name: Verifcation
        run: ls -alhR
